# Directories #
build/
bin/
target/
libs/
tmp/
node_modules/
jaxws/jaxws-client/src/main/

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# NetBeans
######################
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml


######################
# Eclipse
######################

*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Testing environment specific
derby.log


######################
# Code Blocks
######################



######################
# Liberty tools
######################

.factorypath
/Debug/


######################
# C
######################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

